<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <h1 class="text-center text-info pt-5 mb-5">
      Made with Love by Aman Tyagi &copy; Aman tyagi
    </h1>
    <div class="col col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="text-center">
        <h1 [hidden]="isCross" class="text-uppercase text-danger">
          Player One Turn Circle
        </h1>
        <h1 [hidden]="!isCross" class="text-uppercase text-warning">
          Player Two Turn Cross
        </h1>
      </div>
      <div class="grid">
        <div *ngFor="let item of itemArray; index as i">
          <div class="card">
            <div class="card-box box" (click)="handleClick(i)">
              <app-icon [iconName]="item"></app-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="winMessage"
      class="col col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center"
    >
      <h1 class="text-uppercase">Game Over {{ winMessage }}</h1>
      <button
        (click)="reloadGame()"
        class="btn btn-danger text-uppercase pt-2 pb-2 pl-5 pr-5"
      >
        Reload Game
      </button>
    </div>
  </div>
</div>
